.topbar-container {
  height: 80px;
  width: 100%;
  background-color: rgb(4, 169, 169);
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  .topbar-left {
    flex: 7;
    text-align: center;
    margin-right: 550px;
  }
  .logo {
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: x-large;
  }
  .topbar-right {
    justify-content: center;
    display: flex;
    flex: 4;
    align-items: center;
    gap: 5rem;

    .topbar-img {
      align-items: end;
      width: 67px;
      height: 67px;
      border-radius: 35px;
    }
  }
}
