.topbar-container {
  height: 80px;
  background-color:#568bbd;;
  display: flex;
  align-items: center;
  position: sticky;
  justify-content: space-evenly;
  .topbar-left {
    // display: flex;
    width: 50%;
    text-align: center;
    justify-content: flex-end;
  }
  .logo {
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: x-large;
  }
  .topbar-right {
    display: flex;
    width: 50%;
    align-items: flex-end;
    text-align: center;
    justify-content: space-around;
    // gap: 8rem;
    // margin-left: 28rem;
    .new-chat-button {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
      width: 7rem;
      height: 4rem;
      border: none;
      font-size: larger;
      font-weight: bolder;
      background: rgb(172, 151, 249);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }
    .topbar-img {
      align-items: end;
      width: 70px;
      height: 70px;
      border-radius: 35px;
      cursor: pointer;
    }
    .logout {
      cursor: pointer;
    }
  }
}
