.chat {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 20px;
  .chat-top {
    display: flex;
    gap: 20px;
    .chat-img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }
    .chat-text {
      // flex-grow: 1;
      padding: 10px;
      margin-top: 4px;
      height: max-content;
      justify-content: center;
      text-align: justify;
      font-size: larger;
      background-color: rgb(211, 210, 250);
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
      border-bottom-left-radius: 12px;
      color: rgb(0, 0, 0);
      max-width: 500px;
    }
    .chat-time {
      display: flex;
      text-align: end;
      font-size: 10px;
      margin-left: 3rem;
      justify-content: flex-end;
      align-items: center;
      gap: 0.2rem;
    }
  }
  .chat-bottom {
    font-size: medium;
    margin-top: 5px;
    text-align: end;
  }
}

.chat.own {
  align-items: flex-end;
}

.chat.own .chat-text-own {
  background-color: rgb(205, 164, 224);
  padding: 10px;
  margin-top: 4px;
  height: max-content;
  font-size: larger;
  justify-content: center;
  text-align: justify;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  color: rgb(0, 0, 0);
  max-width: 500px;
}
