.chat {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 20px;
  .chat-top {
    display: flex;
    gap: 20px;
    .chat-img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }
    .chat-text {
      // flex-grow: 1;
      padding: 10px;
      margin-top: 4px;
      height: max-content;
      justify-content: center;
      text-align: justify;
      background-color: rgb(59, 60, 166);
      border-radius: 20px;
      color: rgb(255, 255, 255);
      max-width: 500px;
    }
  }
  .chat-bottom {
    font-size: 10px;
    margin-top: 5px;
    text-align: end;
  }
}

.chat.own {
  align-items: flex-end;
}

.chat.own .chat-text {
  background-color: rgb(206, 206, 207);
  border-radius: 20px;
  color: rgb(6, 6, 6);
}
